
/.idea/*
internal/lockedfile/testdir/
internal/packageregistry/testdir/
internal/actionplan/testdir/
/pkg/lockedfile/testdir/
pkg/commandhandler/testdir/
.vscode/
VmExtensionHelper/seqno/flooperflop/
VmExtensionHelper/status/statustest/
vm-application-manager
internal/actionplan/test.ps1
vm-application-manager.exe
